.box{
  /* display: inline; */
  background-color: transparent;
  z-index: 1;
  height: 100%;
  box-sizing: border-box;
 
}
.body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
    text-wrap: wrap;
    padding:70px 20px;
}

.container{
    text-wrap: wrap;
}

.heading{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: baseline;
}

.content{
    color: #FFF;
    font-family: "Koh Santepheap";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.074%; /* 63.537px */
    letter-spacing: 2px;
}

.name{
    color: #E2C664;
    font-family: "Noticia Text";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 136.604%;
    letter-spacing: 3.2px;
}

.skill{
    color: #FFF;
    font-family: "Koh Santepheap";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.074%;
    padding-top: 5px;
    display: flex;
}
.buttons{
  padding:0 20px;
  display: flex;
  flex-direction: row;
  gap:20px;
}
.contacts{
    display: flex;
    flex-direction: row;
    padding:5px 40px;
    gap:20px;
}
@media screen and (max-width:1100px){
    .buttons{
        justify-content: center;
    }
    .heading{
        justify-content: center;
    }
    .contacts{
        justify-content: center;
    }
    .container{
        justify-content: center;
    }
    .name{
        font-size: 55px;
    }
    .skill{
        font-size: 30px ;
        justify-content: center;
    }
    .content{
        font-size: 25px;
    }
    .body{
        padding-top:70px;
        padding-bottom: 0;
    }

}
@media screen and (max-width:800px){
   
    .name{
        font-size: 45px;
    }
    .skill{
        font-size: 30px ;
        
    }
    .content{
        font-size: 25px;
    }
   

}
@media screen and (max-width:450px){
    .container{
        justify-content: center;
    }
    .name{
        font-size: 30px;
    }
    .skill{
        font-size: 30px ;
        justify-content: center;
        text-align: center;
    }
    .content{
        font-size: 15px;
    }
    .buttons{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .heading{
        justify-content: center;
        gap:6px;
        align-items: center;
    }
    .contacts{
        justify-content: center;
    }
    .body{
        padding-top: 50px;
        padding-bottom: 0px;
    }

}







